.container {
  display: flex;
  justify-content: center;

  background-color: rgb(193, 162, 243);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 13px;
}

button {
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
  margin-left: 6rem;
}

button:hover {
  background-color: darkblue;
  color: aliceblue;
}

#message,
#username,
#email,
#state,
#city,
#country,
#mobile {
  margin: 5px;
}

.field {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.heading {
  background-color: rgb(66, 139, 99);
  padding: 20px;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 13px;
}
