.container{
  display: flex;
  justify-content: center;
  margin-top: 6rem;
 background-color: rgb(193, 162, 243);
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 4px ;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 13px;
}

button[type] {
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
  margin-left: 6rem;
}

button[type]:hover {
  background-color: darkblue;
  color: aliceblue;
}


#message,#username,#email,#state,#city,#country,#mobile{
 
margin:5px
}

.field{

  padding: 5px;
}

